{% extends "testnews/base.html" %}

{% load static from staticfiles %}

{% block content %}


{% for new in news %}
<div class="section one-publish">
  <article>
    <header>
      <a class="publish-header" href="{% url "one_news_show" new.news.id %}">{{ new.news.title }}</a>
      <p class="publish-time">Published: {{ new.news.adding_time }}
        <a class="comments-number right" href="{% url "one_news_show" new.news.id %}#comments">{{ new.comments }} Comments</a></p>
    </header>
    <blockquote>
      {% if new.news.news_short %}
        {{ new.news.news_short }}
      {% else %}
        {{ new.news.news_content|truncatechars:250 }}
      {% endif %}


    </blockquote>
    <footer>
      <a class="waves-effect waves-light btn green lighten-1" href="{% url "one_news_show" new.news.id %}#add_comment">Add Comment</a>
      <a class="waves-effect waves-light btn right green darken-2" href="{% url "one_news_show" new.news.id %}">Read More</a>
    </footer>
  </article>
</div>
{% endfor %}

{% with object_list=news %}
  {% include "testnews/pagination.html" %}
{% endwith %}

{% endblock %}
